
a {
  -webkit-tap-highlight-color: transparent;
}
* {  -webkit-backface-visibility:  hidden;
  -webkit-tap-highlight-color:  transparent;
}


/* .k_h, */
.k_bot {
  position: -webkit-sticky;
  position: sticky;
}



/* .k_closed::before { */
  /* display: block;
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-linear-gradient(270deg, rgba(39, 113, 136, .53), rgba(39, 113, 136, .53)), url(https://cdn.xsolla.net/misc/atari_landing/images/071817_Atari_0152_bg.jpg);
  background-image: linear-gradient(180deg, rgba(39, 113, 136, .53), rgba(39, 113, 136, .53)), url(https://cdn.xsolla.net/misc/atari_landing/images/071817_Atari_0152_bg.jpg);
  background-position: 0px 0px, 50% 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  will-change: transform;
  z-index: -1; */
/* } */

/* @media (max-width: 767px) {
  body.k_closed>.xxx,
  body.k_closed>.x_topvideo {
    display: block;
  }
  body>.xxx,
  body>.x_topvideo {
    display: none;
  }
} */






.pp,
.kb,
.k,
.kb_cont {
  -webkit-overflow-scrolling: touch;
}
.shown {
  visibility: visible !important;
}
.hidden {
  display: none !important;
}

.swiper-slide.swiper-slide--thumb.swiper-slide-active .s_g_img {
  /*visibility: hidden;*/
}
.swiper-pagination-bullet-active {
  background: #ff0905;
}
a.f_url:link,
a.f_url:active,
a.f_url:visited,
a.f_soc_url:link,
a.f_soc_url:active,
a.f_soc_url:visited
{
  color: #6d6d6d;
}

a.x_link_white:link,
a.x_link_white:active,
a.x_link_white:visited {
  color: #FFFFFF;
}


.twitter-tweet a:link,
.twitter-tweet a:active,
.twitter-tweet a:visited {
  opacity: 0;
}

a.button_buy:link,
a.button_buy:active,
a.button_buy:visited,
a.button_learn_more--white:link,
a.button_learn_more--white:active,
a.button_learn_more--white:visited {
  color: #FFFFFF;
}

/*IE*/
@media screen\0 {
  .o--bg--blurred,
  .o--top--2 {
    background-attachment: scroll !important;
  }
  .o_h--2 {
    position: absolute  !important;
    top: 100vh  !important
  }
}
